@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.device-item {
  background-color: #1A060C29 ;
}

.main-screen {
  background-image: radial-gradient(#0075FF, #04366e, #03264d);
}

.loading {
  width: 10px;
  height: 40px;
  border-radius: 25%;
  background-color: #11249B;
  position: relative;
  top: 0%;
  animation: loading 2s ease infinite;
}

@keyframes loading {
  0%, 100% { 
    box-shadow: -15px 10px 0 #11249B, 15px 10px 0 #11249B;
    top: 0px;
  }
  16% {
    box-shadow: -15px -10px 0 #11249B, 15px -10px 0 #11249B ;
    top: 10px;
  }
  32% {
    box-shadow: -15px 10px 0 #11249B, 15px 10px 0 #11249B ;
    top: 0px;
  }
  48% {
    box-shadow: -15px -10px 0 #11249B, 15px -10px 0 #11249B ;
    top: 10px;
  }
  64% {
    box-shadow: -15px 10px 0 #11249B, 15px 10px 0 #11249B ;
    top: 0px;
  }
  80% {
    box-shadow: -15px -10px 0 #11249B, 15px -10px 0 #11249B ;
    top: 10px;
  }
  96% {
    box-shadow: -15px 10px 0 #11249B, 15px 10px 0 #11249B ;
    top: 0px;
  }
}
